.cookies-info {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	box-sizing: border-box;
	display: none;
	width: 100%;
	padding: 28px 10px;
	color: #fff;
	text-align: center;
	background: #333;
}

.cookies-info-button {
	padding: 5px 20px;
	margin-left: 20px;
	color: #fff;
	font: inherit;
	background: red;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.cookies-info-button-disagree {
	margin-left: 0;
	transform: scale(.9);
}

.cookies-info-link {
	color: red;
	text-decoration: none;
}
